* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: NotoSans-Regular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, PingFang SC, Microsoft YaHei, sans-serif;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.15;
}
.page, body, html {
    background-color: #f5f5f5;
}
.logo{
    height: 80px;
    width: 200px;
    /* background-color: #f5f5f5; */
    margin-left: 20px;
    margin-top: 20px;
    background-color: #f5f5f5;
    color: #f5f5f5;
}
.d-block w-100{ 
    height: auto;
    width:auto;
}

.container {
    display: flex; /* Flexbox ka istemal */
    flex-direction: row; /* Cards ko column mein arrange karna */
    align-items: center; /* Center mein align karna */
    gap: 100px; /* Cards ke beech mein space */
    margin-top: 20px;
}

.card1{
    width: 350px; /* Card ki width */
    height: 500px;
   
}
.card2{
    width: 350px; /* Card ki width */
    height: 500px;
   
}
.card3{
    width: 350px; /* Card ki width */
    height: 500px;
   
}

nav {
    padding: 15px 0;
    background-color: #f57224;
    position: sticky;
    top: 0;
    height: 200px;
    border-radius: 5px;

}

nav ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #8f94fb;
}
.form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

form div {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block; /* Align labels properly */
}

input, textarea {
    padding: 10px;
    border: 2px solid #f57224;
    border-radius: 5px;
    transition: border-color 0.3s;
    width: 100%; /* Full width for inputs */
}

input:focus, textarea:focus {
    border-color: #f57224;
    outline: none;
}

textarea {
    resize: vertical; 
    height: 100px;
}

.btn{
    display: flex;
    height: 50px;
    width: 100px;
    justify-items: center;
    font-weight: bold;
    background-color: #f57224;
}
.btn :hover{
    color: #fff;
    background-color: black;

}
.p1{
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.p1{
    color: #f57224;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}